

.logo{
    width: 6vw;
    margin-left: 2rem;
}
.navbar{background-color: #3b020c;
}

/*estilos del carerrusel*/

.carousel-item{
    height: 40vh; 
    background-color: black;
}

.carousel-item img{
    opacity: 0.5;
    object-fit: scale-down;
}

.carousel-caption h5{
    font-size: 5vw !important;
}

/*estilos de las cartas*/
.tarjeta{
    margin: 0.5rem;
    display: flex !important;
}

.card-img-top{
    height: 30vh;

    object-fit: cover;

}

/* estilo del form */

.form-check, .searchvar{
    padding: 1rem;
}

footer{
    background-color: #3b020c;
}
.images img{
    width: 3rem ;
    margin: 0.5rem;
}
.searchvar .btn{
    color: #3b020c;
    border-color: #3b020c;

}

.searchvar .btn:hover{
    background-color: #3b020c;
}
input[type="radio"]:checked{
    background-color: #3b020c;
    border-color: #3b020c;
}
.card .btn{
    background-color: #3b020c;
    border-color: white;

}
.card .btn:hover{
    background-color: #0c0103;
    border-color: white;

}

.cardinfo{
    max-width: 80vw;
}


form{
    width: 50vw;
}

.table{
    margin: 4rem;
}

th{
    background-color: #3b020c !important;
    color: white !important;
}

.format .btn {
    background-color: #3b020c;
    border-color: #3b020c;
}

.format .btn:hover {
    background-color: #0c0103;
    border-color: white;
}

footer {
    position: relative;
    top: 23vh;
    width: 100%;
    color: #fff;
    text-align: end;
}

