.logo{
    width: 6vw;
    margin-left: 2rem;
}
.navbar{background-color: #3b020c;
}

.carousel-item{
    height: 40vh; 
}

.carousel-caption h5{
    font-size: 5vw !important;
}
.card{
    margin: 0.5rem;
}
.form-check, .searchvar{
    padding: 1rem;
}

footer{
    background-color: #3b020c;
}
.images img{
    width: 3rem ;
    margin: 0.5rem;
}
.searchvar .btn{
    color: #3b020c;
    border-color: #3b020c;

}

.searchvar .btn:hover{
    background-color: #3b020c;
}
input[type="radio"]:checked{
    background-color: #3b020c;
    border-color: #3b020c;
}
.card .btn{
    background-color: #3b020c;
    border-color: white;

}
.card .btn:hover{
    background-color: #0c0103;
    border-color: white;

}

.cardinfo{
    max-width: 80vw;
}


